.chords-wrapper{
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    padding: 0px;
    margin-bottom: 30px;
    border-left: 1px solid $lightGray;
    border-right: 1px solid $lightGray;

}